---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
    number: string;
    title: string;
    description: string;
}

const { number, title, description, ...rest } = Astro.props as Props;
---

<div class="section-steps" {...rest}>
    <div class="section-step-number">
        {number}
    </div>
    <div class="section-step-content">
        <h2 class="section-step-title">{title}</h2>
        <p class="section-step-desc">
            {description}
        </p>
    </div>
</div>

<style>
    .section-steps {
        display: flex;
        gap: 3rem;
        margin-bottom: 4rem;
    }

    .section-step-content {
        display: flex;
        flex-direction: column;
    }

    .section-step-title {
        font-size: 1.8rem;
        font-weight: bold;
        text-align: left;
        margin: 0;
        margin-bottom: 0.5rem;
        text-align: left;
    }

    .section-step-desc {
        text-align: left;
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 0;
        margin-top: 0.5rem;
        padding-right: 1rem;
    }

    .section-step-number {
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        aspect-ratio: 1/1;
        border-radius: 9999px;
        background: var(--color-accent);
        font-size: 3.75rem;
        font-family: var(--font-family-heading);
        font-weight: bold;
    }

    @media (min-width: 768px) {
        .section-step-number {
            width: 100px;
            height: 100px;
            font-family: var(--font-family-heading);
        }

        .section-step-title {
            font-size: 1.875rem;
        }

        .section-steps {
            gap: 2.5rem;
        }

        .section-step-content {
            width: 100%;
        }

        .section-step-desc {
            width: 100%;
        }
    }

    @media (min-width: 1024px) {
        .section-steps {
            flex-direction: column;
            justify-items: start;
            align-items: center;
        }

        .section-step-content {
            height: 40rem ;
            width: 28rem;

        }

        .section-step-number {
            width: 7.5rem;
            height: 7.5rem;
        }

        .section-step-title {
            font-size: 1.5rem;
            font-weight: bold;
            text-align: left;
            margin: 0;
            margin-bottom: 0.5rem;
            text-align: center;
        }

        .section-step-desc {
            text-align: center;
            font-size: 1.2rem;
            line-height: 2rem;
            margin: 0;
            margin-top: 1rem;
            padding-right: 1rem;
        }
    }
</style>
