---
import CallToAction from "../../ui/CallToAction.astro";
---

<form class="contact-form">
    <div class="name-fields">
        <div class="form-group name-field">
            <label for="firstName" class="input-label"> First Name </label>
            <input
                type="text"
                id="firstName"
                name="firstName"
                placeholder="Enter Your First Name"
                class="form-input"
                required
            />
        </div>

        <div class="form-group name-field">
            <label for="lastName" class="input-label"> Last Name </label>
            <input
                type="text"
                id="lastName"
                name="lastName"
                placeholder="Enter Your Last Name"
                class="form-input"
                required
            />
        </div>
    </div>

    <div class="form-group">
        <label for="email" class="input-label"> Email </label>
        <input
            type="email"
            id="email"
            name="email"
            placeholder="Email Address"
            class="form-input"
            required
        />
    </div>

    <div class="form-group">
        <label for="message" class="input-label">
            Your Message (optional)
        </label>
        <textarea
            id="message"
            name="message"
            placeholder="Write Your Message"
            class="form-textarea"
            rows={4}></textarea>
    </div>

    <CallToAction type={"submit"}>
        Submit
    </CallToAction>
</form>

<style>
    .contact-form {
        width: 100%;
    }
    .container {
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        background-color: var(--color-black);
        padding: 1rem;
    }

    .form-container {
        width: 100%;
    }

    .text-center {
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .contact-label {
        color: var(--color-white);
        font-size: 1.2rem;
        font-weight: 500;
    }

    .heading {
        color: white;
        font-size: 1.5rem;
        font-weight: 700;
        margin-top: 0.5rem;
    }

    .description {
        color: var(--color-white);
        font-size: 0.875rem;
        margin-top: 1rem;
        display: none;
    }

    .apply-button {
        background-color: var(--color-bright-accent);
        color: white;
        font-weight: 500;
        padding: 0.5rem 1.5rem;
        border-radius: 9999px;
        margin-top: 1rem;
        border: none;
        cursor: pointer;
        display: none;
    }

    .apply-button:hover {
        background-color: var(--color-bright-accent);
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin-top: 1.5rem;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .name-fields {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .input-label {
        text-align: left;
        color: var(--color-white);
        font-size: 1.5rem;
        font-weight: 500;
    }

    .form-input,
    .form-textarea {
        padding-inline: 1.2rem;
        padding-block: 1rem;
        height: 4.5rem;
        border-radius: 1rem;
        background-color: rgba(255, 255, 255, 0.4);
        opacity: 0.8;
        color: white;
        font-size: 1.5rem;
        font-weight: 600;
        border: 1px solid rgba(255, 255, 255, 0.8);
    }
    .form-input:focus,
    .form-textarea:focus {
        outline: none;
        padding-inline: 1.2rem;
        padding-block: 1rem;
        height: 4.5rem;
        border-radius: 1rem;
        background-color: rgba(255, 255, 255, 0.2);
        opacity: 0.8;
        color: white;
        font-size: 1.5rem;
        font-weight: 600;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }

    .form-input::placeholder,
    .form-textarea::placeholder {
        display: flex;
        align-items: center;
        font-family: var(--font-family-base);
        color: rgba(255, 255, 255, 0.5);
        font-size: 1.5rem;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 1.8rem;
    }

    .form-textarea {
        min-height: 100px;
        resize: vertical;
    }

    /* Media queries for responsive design */
    @media (min-width: 768px) {
        .form-container {
            max-width: 42rem;
        }

        .heading {
            font-size: 1.875rem;
        }

        .description {
            display: block;
            padding: 0 2rem;
        }

        .apply-button {
            display: inline-block;
        }

        .name-fields {
            flex-direction: row;
        }

        .name-field {
            flex: 1;
        }
    }
</style>
