---
import CallToAction from "../../ui/CallToAction.astro";
import TagLine from "../../ui/TagLine.astro";
import Section5Content from "./Section_5Content.astro";
import Section5Title from "./Section_5Title.astro";
import Form from "./Form.astro";

const tagline: string = "Contact Us";
const title: string = "Get Started Today";
const content: string =
    "Ready to elevate your advertising game? Join the hundreds of businesses already driving success with <strong>VRUME’s targeted advertising solutions</strong>. Whether you’re focused on <strong>email ads, Instagram ads,</strong> or <strong>affiliate marketing,</strong> we’ve got the expertise and resources to help you succeed.";
const calltoactionButton: string =
    "Apply to become an Advertiser!".toUpperCase();
---

<section class="hero-container">
    <!-- rounded background color  -->

    <div class="hero-content">
        <div class="main-contend">
            <TagLine>{tagline}</TagLine>
            <Section5Title>{title}</Section5Title>
            <Section5Content text={content} />
            <CallToAction>
                {calltoactionButton}
            </CallToAction>
        </div>

        <div class="form-container">
            <Form />
        </div>
    </div>
</section>

<style>
    .hero-container {
        background-color: var(--color-bg-primary);
        height: max-content;
        color: var(--color-white);
        padding-inline: 1rem;
        padding-bottom: 8rem;
        text-align: center;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-basis: 1;
    }

    .hero-container::after {
        content: " ";
        position: absolute;
        top: 12dvh;
        transform: translateY(30dvh) translateX(60%);
        right: 0;
        width: 60rem;
        height: 60rem;
        background-color: var(--color-dark-accent);
        border-radius: 9999px;
        filter: blur(6rem);
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
        padding-top: 8rem;
        /* background-color: bisque; */
        transform: translateY(-1%);
        height: 100%;
        width: 100%;
    }

    .main-contend {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.4rem;
        z-index: 10;
        height: 100%;
        width: 100%;
    }

    .main-content-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.4rem;
        z-index: 10;
        height: 100%;
        width: 100%;
    }

    .form-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* tablet style */
    @media (min-width: 768px) {
        .hero-container {
            background-color: var(--color-bg-primary);
            height: max-content;
            color: var(--color-white);
            padding: 3rem;
            text-align: center;
            position: relative;
            overflow: hidden;
            display: flex;
            flex-basis: 1;
        }
        .hero-container::after {
            content: " ";
            position: absolute;
            top: 0;
            transform: translateY(30vw) translateX(50%);
            right: 0;
            width: 50rem;
            height: 50rem;
            background-color: var(--color-dark-accent);
            border-radius: 9999px;
            filter: blur(8rem);
        }
    }

    @media (min-width: 1024px) {
        .hero-container {
            height: max-content;
            padding-bottom: 10rem;

        }

        .hero-container::after {
            content: " ";
            position: absolute;
            top:0;
            bottom: 0;
            right: 0;
            transform: translateX(20%);
            width: 50vh;
            height: 50vh;
            background-color: var(--color-dark-accent);
            border-radius: 9999px;
            filter: blur(10rem);
        }

        .hero-content {
            flex-direction: row;
            max-width: 120rem;
            margin: 0 auto;
            padding-left: 1rem;
            padding-right: 1rem;
            display: flex;
            align-items: start;
            gap: 10rem;
            /* background-color: rebeccapurple; */
            justify-content: space-between;
        }

        .main-contend {
            align-items: start;
            width: 100%;

            /* background-color: antiquewhite; */
        }


</style>
