<section class="hero-container">
    <img
        src="/assets/Rounded shape.webp"
        alt="Hero Image"
        class="rounded-shape-1"
    />

    <img
        src="/assets/Rounded shape.webp"
        alt="Hero Image"
        class="rounded-shape-2"
    />
</section>

<style>
    .hero-container {
        background-color: var(--color-bg-primary);
        height: 100vh;
        color: var(--color-white);
        padding: 2rem;
        text-align: center;
        position: relative;
        overflow: hidden;
    }

    .hero-container::before {
        content: " ";
        position: absolute;
        bottom: -5dvh;
        right: 0;
        transform:;
        width: 30vw;
        height: 30vw;
        background-color: var(--color-dark-accent);
        border-radius: 9999px;
        filter: blur(5rem);
    }

    .hero-container::after {
        content: " ";
        position: absolute;
        top: 12dvh;
        transform: translateY(30dvh) translateX(-50%);
        left: 0;
        width: 60vw;
        height: 60vw;
        background-color: var(--color-dark-accent);
        border-radius: 9999px;
        filter: blur(6rem);
    }

    .rounded-shape-1 {
        position: absolute;
        top: 11.5dvh;
        right: -7vw;
        width: 15rem;
        height: 15rem;
        object-fit: cover;
        animation: rotateAnimation 15s linear infinite;
        opacity: 0.9;
    }

    .rounded-shape-2 {
        display: none;
    }

    /* tablet style */
    @media (min-width: 768px) {
        .rounded-shape-1 {
            position: absolute;
            top: -7dvh;
            right: -17vw;
            width: 40vw;
            height: 40vw;
            object-fit: cover;
            animation: rotateAnimation 15s linear infinite;
            opacity: 0.9;
        }

        .hero-container::after {
            content: " ";
            position: absolute;
            top: 5dvh;
            transform: translateY(30dvh) translateX(-50%);
            left: 0;
            width: 60vw;
            height: 60vw;
            background-color: var(--color-dark-accent);
            border-radius: 9999px;
            filter: blur(8rem);
        }
    }

    @media (min-width: 1024px) {
        .hero-container::before {
            content: " ";
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translateY(30vh) translateX(10%);
            width: 20vw;
            height: 20vw;
            background-color: var(--color-dark-accent);
            border-radius: 9999px;
            filter: blur(13rem);
        }

        .hero-container::after {
            content: " ";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            transform: translateY(22vh) translateX(-45%);
            width: 30vw;
            height: 30vw;
            background-color: var(--color-dark-accent);
            border-radius: 9999px;
            filter: blur(12rem);
        }

        .rounded-shape-1 {
            position: absolute;
            top: -7vw;
            right: -5vw;
            width: 15vw;
            height: 15vw;
            object-fit: cover;
            animation: rotateAnimation 15s linear infinite;
            opacity: 0.9;
        }

        .rounded-shape-2 {

            display: block;
            position: absolute;
            bottom: -30vh;
            right: 10vw;
            width: 60rem;
            height: 60rem;
            object-fit: cover;
            animation: rotateAnimation 15s linear infinite;
        }
    }

    @keyframes rotateAnimation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
</style>
