---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/globals.css";

const pageTitle = "Welcome to Vrume";
const pageDescription =
    "Drive Profits with Targeted Advertising Solutions Whether you’re a seasoned marketer or just starting to scale your business, our customized online advertising strategies will accelerate your growth and drive targeted customers straight to your offers.";
const shareImage = "/assets/VRUME-white-with-red-dot.webp";
---

<MainLayout
    title={pageTitle}
    description={pageDescription}
    image={shareImage}
    >
    <h1>Bienvenido a mi Landing Page</h1>
</MainLayout>

<style></style>
