---
import CallToAction from "../ui/CallToAction.astro";
import NewLetterForm from "./NewLetterForm.astro";

const title: string = "About";
const content: string =
    "Vrume’s team has been working in the performance marketing industry since 2001. We are a passionate team of professionals that love the challenges the online space provides. We are here to help our clients and look forward to helping you.";
const adreess: string =
    "Platform @ The Junction. 5 Edinburgh Rd S Guelph, Ont N1H 5N8, Canada";
const copyright: string = "Copyright © 2024 Vrume. All rights reserved.";
---

<footer class="footer-container">
    <div class="sections-container">
        <div class="footer-content">
            <section class="about-section">
                <h1 class="title-sections">{title}</h1>
                <p class="description-about-section">{content}</p>
            </section>

            <section class="social-section">
                <h1 class="title-sections">SOCIAL</h1>
                <div class="logos">
                    <a href="https://www.facebook.com" target="_blank">
                        <img
                            src="/assets/facebook.svg"
                            alt="Facebook"
                            style="filter: invert(1) brightness(2);"
                        />
                    </a>
                    <a href="https://www.instagram.com" target="_blank">
                        <img
                            src="/assets/instagram.svg"
                            alt="Instagram"
                            style="filter: invert(1) brightness(2);"
                        />
                    </a>
                    <a href="https://www.linkedin.com/company" target="_blank">
                        <img
                            src="/assets/linkedin.svg"
                            alt="LinkedIn"
                            style="filter: invert(1) brightness(2);"
                        />
                    </a>
                    <a href="https://x.com" target="_blank">
                        <img
                            src="/assets/twitter-alt.svg"
                            alt="x"
                            style="filter: invert(1) brightness(2);"
                        />
                    </a>
                </div>
            </section>
        </div>
        <div class="newletter-section">
            <h1 class="title-sections newleeter-title">
                Subscribe to our Newsletter
            </h1>
            <NewLetterForm />
        </div>
        <div class="divisor"></div>
        <div class="divisor-desktop"></div>

        <div class="footer-bottom">
            <p class="address-text">{adreess}</p>
            <p class="copyright-text">{copyright}</p>
        </div>
    </div>
</footer>

<style>
    .footer-container {
        background-color: var(--color-bg-secondary);
        height: max-content;
        color: var(--color-white);
        padding-inline: 1rem;
        width: 100%;
        padding-block: 4rem;
        text-align: center;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        flex-basis: 1;
    }

    .footer-content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .title-sections {
        font-size: 2.5rem;
        font-family: var(--font-family-heading);
        margin-bottom: 1rem;
    }

    .newleeter-title {
        text-align: left;
        align-self: flex-start;
        margin-top: 3rem;
    }

    .description-about-section {
        text-align: left;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .logos {
        display: flex;
        gap: 2rem;
    }

    .logos a {
        width: 4rem;
    }

    .logos a svg {
        stroke: var(--color-white);
        color: var(--color-white);
    }

    .form-newsletter {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-items: center;
    }

    .form-newsletter label {
        text-align: left;
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
    }

    .form-newsletter input {
        width: 100%;
        padding: 0.5rem;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        border-radius: 999px;
        background-color: var(--color-bg-secondary);
        color: var(--color-white);
    }

    .divisor {
        width: 100%;
        height: 0.2rem;
        margin-top: 2rem;
        background-color: var(--color-bright-accent);
    }

    .divisor-desktop {
        display: none;
    }

    .address-text {
        font-size: 1.5rem;
        text-align: left;
        font-weight: 500;
        margin-top: 1rem;
    }

    .copyright-text {
        font-size: 1.5rem;
        text-align: center;
        font-weight: 500;
        margin-top: 4rem;
    }

    @media (min-width: 768px) {
        .footer-container {
            background-color: var(--color-bg-secondary);
            height: max-content;
            color: var(--color-white);
            padding-inline: 4rem;
            width: 100%;
            padding-block: 4rem;
            text-align: center;
            position: relative;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            flex-basis: 1;
        }

        .footer-content {
            gap: 4rem;
            flex-direction: row;
            align-items: start;
        }

        .divisor {
            width: 100%;
            height: 0.2rem;
            margin-top: 2rem;
            background-color: var(--color-bright-accent);
        }
    }

    @media (min-width: 1024px) {
        .footer-container {
            padding: 0;
            margin: 0;
            padding-block: 1rem;
        }
        .divisor {
            display: none;
        }
        .sections-container {
            display: grid;
            max-width: 120rem;
            margin-inline: auto;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr 4px 0.5fr;
            grid-column-gap: 10rem;
            grid-row-gap: 1rem;
        }

        .footer-content {
            grid-area: 1 / 1 / 2 / 3;
            gap: 10rem;
        }

        .newletter-section {
            grid-area: 1 / 3 / 2 / 4;
        }

        .divisor-desktop {
            display: flex;
            grid-area: 2 / 1 / 3 / 4;
            width: 100%;
            height: 0.2rem;
            margin-top: 2rem;
            background-color: var(--color-bright-accent);
        }

        .footer-bottom {
            grid-area: 3 / 1 / 4 / 4;
        }
    }
</style>
